
.tab {
	width: 379px;
	height: 31px;
	vertical-align: middle;
	text-align: center;
	margin: auto;
}

.tab input.active {
	background-color: #34315a;
	border-color: white;
	border-radius: 3px;
	color:#ff599e;
	height: 31px;
	font-size: 18px;
}

.tabcontent {
	display: none;
	animation: fadeEffect 1s;
}

@
keyframes fadeEffect {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
.tablinks {
	width: 187px;
	height: 27px;
	border: 1px;
	border-radius: 3px;
	background: #6c66b1;
	font-size: 15px;
	font-weight: bold;
}

.tablinks:hover {
	background: #9088e8;
}

.loginform, .adminLoginform, .custLoginform {
	clear: both;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	width: 380px;;
}

.loginform label {
	width: 100%;
	font-style: italic;
	font-weight: bold;
}

input {
	font-size: 15px;
	font-family: sans-serif;
	background: #ebebfb;
	border: black;
	border-style: solid;	
	border-width: thin;
	width: 170px;
}

label {
	font-family: Arial;
	font-size: 15px;
	font-weight: 700;
	color: #000;
	font-style: italic;
}

table {
	width: 380px;;
	height: 80px;
	border-collapse: collapse;
	margin: auto;
	vertical-align: middle;
	border-spacing: 0;
	border-radius: 4px;
	background: #FFF; //#9cb6d0;
	position: relative;
	box-shadow: 3px 3px 3px #1f0d29;
}

input#login, input#register, input#home {
	border-radius: 3px;
	border: 1px;
	margin: auto;
	display: inline-block;
	cursor: pointer;
	font-family: Georgia, serif;
	font-size: 14px;
	padding: 6px 12px;
	text-decoration: none;
	background: #220846;
	font-weight: 900;
	color: aliceblue;
	position: relative;
	width: 140px;	
}

input#login:hover, input#register:hover, input#home:hover {
	background: #58269e;
	color: #000;
}

.applyLoanTable {
	width: 600px;;
	height: 80px;
	border-collapse: collapse;
	margin: auto;
	vertical-align: middle;
	border-spacing: 0;
	border-radius: 4px;
	background: #FFF; //#9cb6d0;
	position: relative;
	box-shadow: 3px 3px 3px #1f0d29;
}
